p {
  background-color: #b8860b; 
  color: white; 
  padding: 5px;
  max-width: max-content;
  animation: wobble 1s;
  font-family: "Arial", sans-serif;
}

@keyframes wobble {
   0%  { rotate: 0deg; }
  20%  { rotate: 2deg; }
  50%  { rotate: -2deg; }
  100% { rotate: 0deg; }
}

section {
  min-height: 250px;
  padding: 5px;
  float: left;
}

img {
  float: left;
  padding: 5px;
}
