p {
  background-color: #b8860b; 
  color: white; 
  padding: 5px;
  max-width: max-content;
  transition: width 2s;
}

p:hover {
  font-size: 20px;
}

section {
  min-height: 250px;
  padding: 5px;
  float: left;
}

img {
  float: left;
  padding: 5px;
}
